@model Cartoonalogue.Models.Cartoon

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Cartoon</h2>
<hr />

<div class="well">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhenDebuted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhenDebuted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seasons)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seasons)
        </dd>
        <dt>
            Studio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Studio.Name)
        </dd>
        <dt>
            Network
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Network.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trivia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trivia)
        </dd>
    </dl>
</div>
    
<form asp-action="Delete">
    <div class="form-actions no-color">
        <button type="submit" class="btn btn-danger"><i class="fa fa-close"></i> Delete</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>
