@model Cartoonalogue.Models.Cartoon

@{
    ViewData["Title"] = "Details";
}

<h2>Cartoon Details</h2>

<div class="row" style="padding-left: 20px;">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-default"><i class="fa fa-remove"></i> Delete</a>
</div>

<hr />

<div class="well">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhenDebuted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhenDebuted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seasons)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seasons)
        </dd>
        <dt>
            Studio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Studio.Name)
        </dd>
        <dt>
            Network
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Network.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trivia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trivia)
        </dd>
    </dl>
</div>
